<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Оформление заказа</title>
</head>
<body>
<h1>Оформление заказа Пиццерии</h1>
<h2>Кастомная пицца {{ custom_pizzas_amt }}</h2>
<p>{{ ingreds_in_pizza|nl2br }}</p><br>
<h3>Ингредиенты</h3>
<p>{{ ingredients|nl2br }}</p>
<p>Напишите название ингредиента, который вы хотите добавить в пиццу: </p>
<form method="post">
    <input type="text" name="ingredient">
    <input type="submit" formaction="/order/custom/add_ingredient" value="Добавить ингредиент"><br><br>
    <input type="submit" formaction="/order/custom/finish_custom_pizza" value="Завершить создание пиццы"><br><br>
    <input type="submit" formaction="/order/custom/decline" value="Удалить пиццу"><br><br>
</form>
<p>{{ user_info|nl2br }}</p>
</body>
</html>
